<% meta title: @reader.name, description: @reader.email %>

<div class="font-inter antialiased text-gray-800 tracking-tight my-16">
  <main class="grow">
    <section>
      <div class="mx-auto max-w-2xl px-4 lg:px-8">
        <%= link_to "← Voltar para leitores", readers_path, class: "hover:opacity-75 font-semibold" %>

        <article class="mt-8 space-y-4">
          <div>
            <h1 class="text-2xl font-bold text-gray-900"><%= @reader.name %></h1>
            <p class="text-sm text-gray-600">Criado em: <%= @reader.created_at.strftime("%d/%m/%Y") %></p>
          </div>
          <div class="prose">
            <p><strong>Email:</strong> <%= @reader.email %></p>
            <p><strong>Código:</strong> <%= @reader.code %></p>
          </div>

          <% if current_user.present? %>
            <div class="flex space-x-2 mt-6">
              <%= link_to "Editar", edit_reader_path(@reader),
                          class: "px-4 py-2 border rounded-md hover:bg-gray-50" %>
              <%= button_to @reader, method: :delete,
                            data: { confirm: "Tem certeza?" },
                            class: "px-4 py-2 border rounded-md hover:bg-gray-50" do %>
                Deletar
              <% end %>
            </div>
          <% end %>
        </article>
      </div>
    </section>
  </main>
</div>
